<style type="text/css">

</style>

<div ng-controller="routeController">
    <div ng-repeat="place in places" class="container-fluid">
        <div class="img-box">
            <a href="/places/{{::place.id}}"><img src="/content/images/{{::place.avatarName}}"></a>
        </div>
        <div>
            <h3>{{::place.name}}</h3>
            <p class="rating">{{::place.rating}}</p>
        </div>
        <div>
            <button type="button" class="btn btn-warning btn-circle btn-lg" ng-click="removePlaceFromRoute(place)">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </div>
    </div>
</div>