<style>

    .login-box{
        position:relative;
        margin: 10px auto;
        width: 500px;
        height: 380px;
        background-color: #fff;
        padding: 10px;
        border-radius: 3px;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    }

    .email-login{
        position:relative;
        float: left;
        width: 100%;
        height:auto;
        margin-top: 20px;
        text-align:center;
    }
    .u-form-group{
        width:100%;
        margin-bottom: 10px;
    }
    .u-form-group input[type="email"],
    .u-form-group input[type="password"]{
        width: calc(50% - 22px);
        height:45px;
        outline: none;
        border: 1px solid #ddd;
        padding: 0 10px;
        border-radius: 2px;
        color: #333;
        font-size:0.8rem;
        -webkit-transition:all 0.1s linear;
        -moz-transition:all 0.1s linear;
        transition:all 0.1s linear;
    }
    .u-form-group input:focus{
        border-color: #358efb;
        font-size: 14px;
    }
    .u-form-group button{
        width:50%;
        background-color: #1CB94E;
        border: none;
        outline: none;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        padding: 14px 0;
        border-radius: 2px;
        text-transform: uppercase;
    }

</style>

<div ng-controller="loginController">

    <div class="login-box">
        <form name="loginForm" ng-submit="login(loginForm)" class="email-login">

            <div class="u-form-group">
                <input type="email" id="email" name="email" ng-model="loginModel.email" placeholder="Email" required>
                <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                    <p ng-message="required">Email is required.</p>
                </div>
            </div>

            <div class="u-form-group">
                <input type="password" id="password" name="password" ng-model="loginModel.password" placeholder="Password" required>
                <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                    <p ng-message="required">Password is required.</p>
                </div>
            </div>

            <div class="u-form-group">
                <button type="submit">Login</button>
            </div>

        </form>
    </div>

</div>
