

<div ng-controller="registrationController">
    <div class="middle-page-form">
        <form name="registrationForm" ng-submit="register(registrationForm)"novalidate>

            <h1>Register</h1>

            <div class="form-group">
                <label for="firstName">First name:</label>
                <input type="text" class="form-control" id="firstName" name="firstName" ng-model="registrationModel.firstName" minlength="2" maxlength="50"  required>
                <div ng-messages="registrationForm.firstName.$error" ng-if="registrationForm.firstName.$touched">
                    <p ng-message="minlength">Your first name is too short.</p>
                    <p ng-message="maxlength">Your first name is too long.</p>
                    <p ng-message="required">Your first name is required.</p>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last name:</label>
                <input type="text" class="form-control" id="lastName" name="lastName" ng-model="registrationModel.lastName" minlength="2" maxlength="50"  required>
                <div ng-messages="registrationForm.lastName.$error" ng-if="registrationForm.lastName.$touched">
                    <p ng-message="minlength">Your last name is too short.</p>
                    <p ng-message="maxlength">Your last name is too long.</p>
                    <p ng-message="required">Your last name is required.</p>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" ng-model="registrationModel.email" required>
                <div ng-messages="registrationForm.email.$error" ng-if="registrationForm.email.$touched">
                    <p ng-message="required">Email is required.</p>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password"  ng-model="registrationModel.password" minlength="3" maxlength="50"  required>
                <div ng-messages="registrationForm.password.$error" ng-if="registrationForm.password.$touched">
                    <p ng-message="minlength">Your password is too short.</p>
                    <p ng-message="maxlength">Your password is too long.</p>
                    <p ng-message="required">Password is required.</p>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>

</div>


