

<div class="list-place-item">
    <div class="col-md-4 img-box">
        <a href="/places/{{::place.id}}"><img src="/content/images/{{::place.avatarimagename}}"/></a>
    </div>
    <div class="col-md-6 info-box">
        <div>
            <h3>{{::place.name}}</h3>
        </div>
        <div>
            <div class="place-rating-box horizontal-rating">
                <div star-rating rating="avgRating" read-only="true" max-rating="5" click="click2(param)" mouse-hover="mouseHover2(param)" mouse-leave="mouseLeave2(param)"></div>
            </div>
        </div>


    </div>
</div>