
<style>
    .anchor{
        min-height: 400px;
    }

    .anchor-section{
        height: 100vh;
        min-height: 100vh;
    }

    .map-container { height: 300px; }

    .small-textarea{
        min-height: 50px;
        max-height: 100px;
        resize: none;
        overflow-y: visible;
    }

    .large-textarea{
        min-height: 300px;
        resize: none;
        overflow-y: visible;
    }

    .arrow-left{
        margin-left: 1%;
    }

    .arrow-right{
        margin-right: 1%;
        float: right;
        cursor: pointer;
    }

    .arrow-block{
        margin-top: 1%;
        cursor: pointer;
    }

    .submit-button{
        height: 64px;
        background-color: #4FBA6F;
        border-radius: 10px;
        float: right;
        color: white;
        padding: 0px 46px;
        border: 0px;
    }

    .bottom20{
        height: 20px;
    }

    label{
        margin-bottom: 10px;
    }
</style>

<div ng-controller="createPlaceController">
    <form class="container-fluid" name="form" enctype="multipart/form-data">
        <section id="baseInfoSection" class="anchor anchor-section">
            <h1># Base information:</h1>
            <div class="container-fluid">
                <!-- NAME + TYPE -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <p class="bottom20"></p><input type="text" class="form-control" id="name" name="name" placeholder="place name" ng-model="place.name" minlength="2" maxlength="50"  required>
                    </div>
                    <div class="form-group">
                        <label for="type">Type:</label>
                        <select name="type" id="type" class="form-control" ng-model="place.typeId">
                            <option ng-repeat="type in placeTypes" value="{{type.id}}">{{type.name}}</option>
                        </select>
                    </div>
                </div>

                <!-- DATE TO OPEN / CLOSE -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Period:</label>
                        <p>From:</p><input type="date" class="form-control" ng-model="place.startDate"/>

                    </div>
                    <div class="form-group">
                        <p>Till:</p><input type="date" class="form-control" ng-model="place.endDate"/>
                    </div>
                </div>

                <!-- TIME TO OPEN / CLOSE -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Open-Close time:</label>
                        <p>From:</p><input type="time" class="form-control" ng-model="place.openingTime"/>
                    </div>
                    <div class="form-group">
                        <p>Till:</p><input type="time" class="form-control" ng-model="place.closingTime"/>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <!-- IMAGES UPLOAD -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="avatarImage">Logo Picture:</label>
                        <input id="images" class="form-control" type="file" name="images"
                               placeholder="Images"  accept="image/*"
                               ngf-select="uploadFiles($files, $invalidFiles)" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" class="form-control" ng-model="place.email" id="email" placeholder="yourmail@mail.com" required/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Phone:</label>
                        <input type="text" class="form-control" id="phone" placeholder="+380111111111" ng-model="place.phone" required/>
                    </div>
                </div>
            </div>
            <div  class="container-fluid">
                <div ng-messages="form.name.$error" ng-if="form.name.$touched">
                    <p ng-message="minlength">Your name is too short.</p>
                    <p ng-message="maxlength">Your name is too long.</p>
                    <p ng-message="required">Your name is required.</p>
                </div>
                <div ng-messages="form.avatarImage.$error" ng-if="form.avatarImage.$touched">
                    <p ng-message="required">Logo image is required.</p>
                </div>
                <div ng-messages="form.email.$error" ng-if="form.avatarImage.$touched">
                    <p ng-message="required">Email is required.</p>
                </div>
                <div ng-messages="form.avatarImage.$error" ng-if="form.avatarImage.$touched">
                    <p ng-message="required">Phone number is required.</p>
                </div>
            </div>
            <div class="container-fluid arrow-block">
                <a class="arrow-right" ng-click="gotoSection('addressSection')">
                    <img  alt="Next" src="/css/icons/right-arrow.png">
                </a>
            </div>
        </section>

        <section id="addressSection" class="anchor anchor-section">
            <div class="container-fluid">

                <!-- COUNTRY + REGION + CITY-->
                <h1># Address information:</h1>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="addressCountry">Country</label>
                        <input id="addressCountry" name="addressCountry" type="text"  class="form-control" ng-model="address.country" ng-blur="setMarker()" required/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="addressRegion">Region</label>
                        <input id="addressRegion" name="addressRegion" type="text"  class="form-control" ng-model="address.region" ng-blur="setMarker()"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="addressCity">City</label>
                        <input id="addressCity" name="addressCity" type="text"  class="form-control" ng-model="address.city" ng-blur="setMarker()" required/>
                    </div>
                </div>
            </div>

            <!-- STREET + BUILDING-->
            <div class="container-fluid">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="addressStreet">Street</label>
                        <input id="addressStreet" type="text"  class="form-control" ng-model="place.street" ng-blur="setMarker()"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="addressBuilding">Building</label>
                        <input id="addressBuilding" type="text"  class="form-control" ng-model="place.building" ng-blur="setMarker()"/>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div ng-messages="form.addressCountry.$error" ng-if="form.addressCountry.$touched">
                    <p ng-message="required">Country is required.</p>
                </div>
                <div ng-messages="form.addressCity.$error" ng-if="form.addressCity.$touched">
                    <p ng-message="required">City is required.</p>
                </div>
            </div>

            <!-- MAP -->
            <div class="container-fluid">
                <div id="map" class="map-container"></div>
            </div>
            <div class="container-fluid arrow-block">
                <a  ng-click="gotoSection('baseInfoSection')">
                    <img  class="arrow-left" alt="Back" src="/css/icons/left-arrow.png">
                </a>
                <a  ng-click="gotoSection('descriptionSection')">
                    <img  class="arrow-right" alt="Next" src="/css/icons/right-arrow.png">
                </a>
            </div>
        </section>

        <section  id="descriptionSection"  class="anchor anchor-section">
            <!-- DESCRIPTION -->
            <div class="container-fluid">
                <h1># Description section:</h1>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="shortDescription">Short Description (~50 - 100smb):</label>
                        <textarea id="shortDescription" name="shortDescription" class="form-control small-textarea" ng-model="place.shortDescription" minlength="20" maxlength="200" required></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="fullDescription">Full Description:</label>
                        <textarea id="fullDescription" name="fullDescription" class="form-control large-textarea" ng-model="place.fullDescription" minlength="20" maxlength="20000" required></textarea>
                    </div>
                </div>
                <div class="container-fluid">
                    <div ng-messages="form.shortDescription.$error" ng-if="form.shortDescription.$touched">
                        <p ng-message="required">Short description is required.</p>
                        <p ng-message="minlength">Short description is too short.</p>
                        <p ng-message="maxlength">Short description is too long.</p>
                    </div>
                    <div ng-messages="form.fullDescription.$error" ng-if="form.fullDescription.$touched">
                        <p ng-message="required">Full description is required.</p>
                        <p ng-message="minlength">Full description is too short.</p>
                        <p ng-message="maxlength">Full description is too long.</p>
                    </div>
                </div>
                <div class="container-fluid arrow-block">
                    <a class="arrow-left" ng-click="gotoSection('addressSection')">
                        <img  alt="Back" src="/css/icons/left-arrow.png">
                    </a>
                    <a class="arrow-right" ng-click="gotoSection('paymentSection')">
                        <img  alt="Next" src="/css/icons/right-arrow.png">
                    </a>
                </div>
            </div>
        </section>

        <section id="paymentSection" class="anchor anchor-section">
            <!-- PRICE -->
            <h1># Payment section:</h1>
            <div class="container-fluid">
                <div class="col-md-4">
                    <div class="input-group">
                        <h4>Price Range:</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="From" ng-model="place.minPrice">
                        <div class="input-group-addon">.00</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="To" ng-model="place.maxPrice">
                        <div class="input-group-addon">.00</div>
                    </div>
                </div>
            </div>
            <div class="container-fluid arrow-block">
                <a class="arrow-left" ng-click="gotoSection('descriptionSection')">
                    <img  alt="Back" src="/css/icons/left-arrow.png">
                </a>
                <button type="button" class="submit-button" ng-click="savePlace(form)">Submit</button>
            </div>

        </section>

    </form>
</div>


