
<style>

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover{
        cursor: pointer;
        background-color: #00cc44;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
    }

    .left-side, .right-side{
        background-color: white;
    }

    .type-name-container{
        height: 10vh;
        margin-top: 15px;
    }

    .rating-container{
        height: 5vh;
        margin: 10px 0 5px 0%;
    }

    .avatar-container{
        height: 30vh;
    }

    .avatar-container>img{
        height: 100%;
        width: 100%;
    }

    .info-container{
        margin-top: 15px;
        height: 50vh;
    }

    .comments-container{
        height: 100vh;
    }

    .text-value{
        display: inline-block;
        padding: 0 10px 0 10px;
        border-radius: 5px;
        background-color: #00CC44;
        height: 40px;
        text-align: center;
        font-weight: 700;
        font-size: 15px;
        line-height: 40px;
        word-wrap: break-word;
        color: white;
    }

    .text-center{
        text-align: center;
    }

    h2{
        font-size: 30px;
        background-color: #00CC44;
        color: white;
    }

    h5{
        font-size: 25px;
        margin: 0 10px 0 0 ;
        display: inline-block;
    }

    a{
        text-decoration: none;
    }

    .history-message-container{
        margin: 10px 20px 0 0;
        padding: 5px 10px 5px 20px;
        background-color: rgba(0, 230, 60, 0.1);
        border-radius: 10px;
    }


    #comment_form input, #comment_form textarea {
        border: 4px solid rgba(0,0,0,0.1);
        padding: 8px 10px;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        outline: 0;
    }

    #comment_form textarea {
        margin-top: 30px;
        width: 100%;
        max-width: 100%;
    }

    .message-section{
        height: 60vh;
        max-height: 60vh;
        overflow-y: scroll;
    }

    .float-right{
        float: right;
    }

    .comment-header a{
        font-size: 15px;
        text-decoration: none;
        background-color: #00CC44;
        color: white;
        border-radius: 5px;
        padding: 2px 5px 2px 5px;
    }

    .comment-header span{
        float: right;
        font-size: 15px;
        font-style: italic;
    }

    hr{
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .description{
        line-height: 1.5;
        letter-spacing: 2px;
    }

    article{
        margin: 2% 1% 1% 3%;
        max-width: 40%;
    }

    .panel-default>.panel-heading {
        color: white;
        background-color: #00CC44;
        border-color: white;
    }

    .panel-default>.panel-heading+.panel-collapse>.panel-body {
        border-top-color: white;
    }

</style>

<div ng-controller="placePageController">
    <div class="container-fluid">
        <div class="col-md-4 left-side">
            <div class="type-name-container">
                <div class="text-center">
                    <h2><%= place.name %> &nbsp;(<%= place.typename %>)</h2>
                    <p id="placeId" hidden><%= place.id %></p>
                </div>
            </div>
            <div class="rating-container horizontal-rating">
                <div star-rating rating="userRating" max-rating="10" click="saveRating(param)" class="col-md-8"></div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary btn-circle btn-lg" title="add to routes" ng-click="saveToRoute()"><i id="saveToRouteIcon" class="glyphicon glyphicon-list"></i></button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-success btn-circle btn-lg" title="set as visited"  ng-click="saveToPersonalMap()"><i id="saveToMapIcon" class="glyphicon glyphicon-link"></i></button>
                </div>

            </div>
            <div class="avatar-container">
                <img src="/content/images/<%= place.avatarimagename %>" alt="avatar image"/>
            </div>
            <div class="info-container">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ADDRESS
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p><%= place.fulladdress %></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    OPEN-CLOSE DATES
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <% if (place.permanent == true) { %>
                                    <div class="text-value">
                                        <p>Every Day</p>
                                    </div>
                                <%}else{%>
                                    <h5>From: </h5>
                                    <div class="text-value">
                                        <p><%= place.startdate %></p>
                                    </div>
                                    <h5>To: </h5>
                                    <div class="text-value">
                                        <p><%= place.enddate %></p>
                                    </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    OPEN-CLOSE TIME
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <% if (place.allday == true) { %>
                                <div class="text-value">
                                    <p>Eny Time.</p>
                                </div>
                                <%}else{%>
                                <h5>From :</h5>
                                <div class="text-value">
                                    <p><%= place.openingtime %></p>
                                </div>
                                <h5>To :</h5>
                                <div class="text-value">
                                    <p><%= place.closingtime %></p>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    PRICE RANGE
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <% if (place.isfree == true) { %>
                                <div class="text-value">
                                    <p>For Free.</p>
                                </div>

                                <%}else{%>
                                <h5>Min price = </h5>
                                <div class="text-value">
                                    <p><%= place.minprice%> $</p>
                                </div>
                                <h5>Max price = </h5>
                                <div class="text-value">
                                    <p><%= place.maxprice %> $</p>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 right-side">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#description-tab" aria-controls="home" role="tab" data-toggle="tab">Description</a>
                </li>
                <li role="presentation">
                    <a href="#comments-tab" aria-controls="profile" role="tab" data-toggle="tab">Comments</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="description-tab">
                    <article>
                        <p class="description"><%= place.fulldescription %></p>
                    </article>

                </div>
                <div role="tabpanel" class="tab-pane" id="comments-tab">
                    <div class="message-section">
                        <div class="history-message-container" ng-repeat="comment in comments | orderBy:'id':true">
                            <div class="comment-header">
                                <a href="/profile/{{comment.ownerid}}">{{comment.ownername}}</a>
                                <span>{{comment.creationdate}}</span>
                                <hr/>
                            </div>

                            <div class="comment-body">
                                <p>{{comment.commenttext}}</p>
                            </div>
                        </div>
                    </div>


                    <form id="comment_form" name="comment_form" ng-submit="saveComment(comment_form)">
                        <div>
                            <textarea rows="4" name="comment" id="comment" placeholder="Comment" ng-model="commentText" required></textarea>
                        </div>
                        <div>
                            <input type="submit" name="submit" class="float-right" value="Add Comment">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>