<style>

    .map-container { height: 600px; }

    .place-info-box{
        background-color: rgba(88, 204, 0, 0.1);
        margin: 0 0 20px 0;
        border-radius: 5px;
        height: 100px;
    }

    .img-box{
        padding: 0 5px 0 0;
        margin: 0;
    }

    .place-info-box img{
        max-width:100%;
        max-height:100%;
        margin-top: 7px;
    }

    .info-section{
        min-height: 300px;
        max-height: 600px;
        overflow-y:auto;
    }

    .base-info p{
        display: inline-block;
    }

</style>

<div ng-controller="searchPlaceController">
    <section id="search-section">
        <form class="form">
            <div class="col-md-1">
                <a class="btn btn-default" href="/places/create-new">Create</a>
            </div>
            <div class="container-fluid col-md-10">
                <div class="form-group col-md-8">
                    <input type="text" class="form-control" id="name" placeholder="Place name" ng-model="searchModel.name">
                </div>
                <div class="form-group col-md-4">
                    <select class="form-control" id="type" ng-model="searchModel.typeId">
                        <option ng-repeat="type in placeTypes" value="{{type.id}}">{{type.name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" id="address" placeholder="Please, enter country, city, street" ng-model="searchModel.address" ng-blur="setCircleArea()">
                </div>
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-default" ng-click="search()">Search</button>
            </div>
        </form>
    </section>

    <div class="container-fluid">
        <section class="col-md-8">
            <div id="map" class="map-container"></div>
        </section>

        <section class="col-md-4 info-section">
            <list-place-item place="place" user="user" ng-repeat="place in places | orderBy:'avgrating':true"></list-place-item>
        </section>
    </div>
</div>


