<!-- views/_layout.ejs -->
<!doctype html>
<html ng-app="App" class="ng-cloak">
<head>
    <title>Travellino</title>

    <link href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/header_menu.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!--<link href="/css/form.css" rel="stylesheet"/>-->
</head>
<body ng-controller="BaseController">

    <header>
        <% include partials/_header.ejs%>
    </header>

    <main>
        <section id="notifications">
            <div id="error-section" ng-if="errorMsg.length">
                <p ng-cloak>{{errorMsg}}</p>
            </div>
            <div id="success-section">
                <!-- TODO -->
            </div>
        </section>
        <%- body %>
    </main>

    <!--
    <footer>
        <% include partials/_footer.ejs%>
    </footer>
    -->
    <section id="common_scripts">
        <!-- JQuery -->
        <script type="application/javascript" src="/vendor/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXAvvISXjiFczrkbUVyD3p3ScInECTlgA&language=en"></script>

        <!-- Bootstrap -->
        <script type="application/javascript" src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- MomentJS -->
        <!-- <script type="application/javascript" src="/vendor/bower_components/moment/min/moment.min.js"></script> -->

        <!-- Angular -->
        <script src="/vendor/bower_components/angular/angular.min.js"></script>

        <script type="application/javascript" src="/vendor/bower_components/angular-route/angular-route.min.js"></script>
        <script type="application/javascript" src="/vendor/bower_components/angular-messages/angular-messages.min.js"></script>
        <script type="application/javascript" src="/vendor/bower_components/angular-animate/angular-animate.min.js"></script>
        <script type="application/javascript" src="/vendor/bower_components/ng-file-upload/ng-file-upload.min.js"></script>


        <!-- Angular custom -->
        <script type="application/javascript" src="/javascript/ng-services/utils.js"></script>
        <script type="application/javascript" src="/javascript/ng-services/map-service.js"></script>

        <script type="application/javascript" src="/javascript/ng-app.js"></script>
        <script type="application/javascript" src="/javascript/ng-directives/stars-rating.directive.js"></script>
        <script type="application/javascript" src="/javascript/ng-directives/list-place-item.directive.js"></script>


        <script type="application/javascript" src="/javascript/ng-controllers/register.ctrl.js"></script>
        <script type="application/javascript" src="/javascript/ng-controllers/login.ctrl.js"></script>
        <script type="application/javascript" src="/javascript/ng-controllers/profile.ctrl.js"></script>
        <script type="application/javascript" src="/javascript/ng-controllers/profile-settings.ctrl.js"></script>
        <script type="application/javascript" src="/javascript/ng-controllers/place.ctrl.js"></script>
        <script type="application/javascript" src="/javascript/ng-controllers/people-page.ctrl.js"></script>

    </section>

</body>
