
body{
    height: 100vh;
}

section{
    padding: 5px;
}

main{
    height: 100vh;
    /*background-color: rgba(218, 236, 194, 0.51);*/
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* FORM OVERRIDING */

.middle-page-form{

    margin: 0 20% 0 20%;
    padding: 15px;
}

.wide-form{
    margin: 0 10% 0 10%;
}

.form-control{
    height: 45px;
}


/* STARS RATING */

.horizontal-rating div{
    display: inline-block;
}


/* LIST PLACE ITEM DIRECTIVE */

.list-place-item{
    height: 15vh;
    margin-bottom: 15px;
}

.list-place-item .img-box{
    height: 100%;
    width: 45%;
}

.list-place-item .info-box{
    height: 100%;
    width: 55%;
}

.list-place-item .info-box h3{
    margin-top: 0;
}


.list-place-item .img-box img{
    height: 100%;
    width: 100%;
}

.place-rating-box div{
    display: inline-block;
}


/* INFO WINDOW ON GOOGLE MAP*/
#map-canvas img {
    max-width: none !important;
}
.gm-style-iw {
    width: 350px !important;
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid #00CC44;
    border-radius: 2px 2px 10px 10px;
}
#iw-container {
    margin-bottom: 10px;
    width: 350px;
}
#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #00CC44;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}

.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}
.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

/*To Routes Button */
.to-routes-button{
    border-radius: 50%;
    border: 1px solid white;
    padding: 0 9px;
    font-size: 20px;
    background-color: #00CC44;
    color: white;
}

.to-routes-button:hover{
    background-color: white;
    color: #00CC44;
    border: 2px solid #00CC44;
}


/* ROUND BUTTONS*/

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn-info {
    color: #fff;
    background-color: #00CC44;
    border-color: #00CC44;
}
