
<div>
    <div id='header-menu'>
        <ul>
            <li><a href='/'><span>Home</span></a></li>




            <% if (typeof user != 'undefined') { %>
                <li><a href='/places'><span>Places</span></a></li>
                <!--<li><a href='/routes'><span>Routes</span></a></li>-->
                <li><a href='/people/search-page'><span>People</span></a></li>
                <li class='right last'><a href='/account/logout'><span>Logout</span></a></li>
            <% }else{ %>
                <li class="right"><a href='/account/register'><span>Register</span></a></li>
                <li class='right last'><a href='/account/login'><span>Login</span></a></li>
            <% } %>


        </ul>
    </div>
</div>