
<style>
    .tabs-section{
        height: 100%;
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover{
        cursor: pointer;
        background-color: #00cc44;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
    }

    .nav-tabs>li>a{
        color: #333333;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
    }

    .nav-tabs>li.active>a:hover{
        color: #333333;
    }

    .photo-section{
        height: 25%;
        width: 100%;
    }

    .photo-section img{
        max-height: 25%;
        max-width: 100%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 10%;
        border-color: #00cc44;
        border-width: thick;
    }

    .history-section{
        height: 100%;
    }

    .history-message-container{
        margin: 10px 20px 0 0;
        padding: 5px 10px 5px 20px;
        background-color: rgba(0, 230, 60, 0.1);
        border-radius: 10px;
    }

    .new-comment-form>textarea{
        width: 80%;
    }

    .history-message-container>p{
        word-wrap: break-word;
    }

    .map-container {
        margin-top: 20px;
        height: 80vh;
    }

    .user-name{
        margin-left: 10%;
    }

    #comment_form input, #comment_form textarea {
        border: 4px solid rgba(0,0,0,0.1);
        padding: 8px 10px;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        outline: 0;
    }

    #comment_form textarea {
        margin-top: 30px;
        width: 100%;
        max-width: 100%;
    }

    .message-section{
        height: 60vh;
        max-height: 60vh;
        overflow-y: scroll;
    }

    .float-right{
        float: right;
    }

    .comment-header a{
        font-size: 15px;
        text-decoration: none;
        background-color: #00CC44;
        color: white;
        border-radius: 5px;
        padding: 2px 5px 2px 5px;
    }


    .comment-header span{
        float: right;
        font-size: 15px;
        font-style: italic;
    }

    hr{
        margin-top: 2px;
        margin-bottom: 2px;
    }

</style>

<div class="container-fluid main-container" ng-controller="profileController">
    <div class="col-md-3 user-info-section">
        <div class="photo-section">
            <img src="/content/images/<%= user.avatar.name %>" alt="user profile logo"/>
        </div>
        <div class="base-info-section">
            <h2 class="user-name"><%= user.firstname %> &nbsp; <%= user.lastname %></h2>
        </div>
        <p id="userId" hidden><%= user.id %></p>
    </div>
    <div class="col-md-9 tabs-section">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#message-history-tab" aria-controls="home" role="tab" data-toggle="tab">History</a>
            </li>
            <li role="presentation">
                <a href="#map-tab" aria-controls="profile" role="tab" data-toggle="tab">Your Map</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active history-section" id="message-history-tab">
                <div class="message-section">
                    <div class="history-message-container" ng-repeat="comment in comments | orderBy:'id':true">
                        <div class="comment-header">
                            <a href="/profile/{{comment.ownerid}}">{{comment.ownername}}</a>
                            <span>{{comment.creationdate}}</span>
                            <hr/>
                        </div>

                        <div class="comment-body">
                            <p>{{comment.commenttext}}</p>
                        </div>
                    </div>
                </div>


                <form id="comment_form" name="comment_form" ng-submit="saveComment(comment_form)">
                    <div>
                        <textarea rows="4" name="comment" id="comment" placeholder="Comment" ng-model="commentText" required></textarea>
                    </div>
                    <div>
                        <input type="submit" name="submit" class="float-right" value="Add Comment">
                    </div>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane map-section" id="map-tab">
                <div id="map" class="map-container"></div>
            </div>
        </div>

    </div>

</div>