<style type="text/css">
    .header-container{
        margin-left: 10%;
        margin-bottom: 50px;
    }
</style>

<div ng-controller="profileSettingsController">

    <div class="header-container">
        <h3>Profile Settings</h3>
    </div>

    <form name="settingsForm" ng-submit="save(settingsForm)"  class="form-horizontal" enctype="multipart/form-data">

        <div class="form-group">
            <label for="avatarImage" class="col-md-2 control-label">Avatar Picture:</label>
            <div class="col-md-10">
                <input id="images" class="form-control" type="file" name="images"
                       placeholder="Images"  accept="image/*"
                       ngf-select="uploadAvatar($files, $invalidFiles)" required/>
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-md-2 control-label">Email:</label>
            <div class="col-md-10">
                <input type="email" class="form-control col-md-10" id="email" name="email" ng-model="user.email" required>
                <div ng-messages="user.email.$error" ng-if="user.email.$touched">
                    <p ng-message="required">Email is required.</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-md-2 control-label">Phone:</label>
            <div class="col-md-10">
                <input type="tel" class="form-control col-md-10" id="phone" name="phone" ng-model="user.phone" placeholder="+380989898898">
            </div>
        </div>

        <div class="form-group">
            <label for="address" class="col-md-2 control-label">Address:</label>
            <div class="col-md-10">
                <input type="text" class="form-control col-md-10" id="address" name="address" ng-model="user.address">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>

    </form>
</div>