
<style>
    .vertical-line {
        height: 100vh;
        border-right: thick solid #00CC44;
    }

    .header {
        margin: 1% 0 1% 1%;
    }

    .img-circle {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }

    .user-box{
        padding: 5px;
        border: 1px solid #00CC44;
        border-radius: 15px;
    }

    .user-in-friends-box{
        padding: 5px;
        border-bottom: 3px solid #00CC44;
    }

    .center{
        margin-top: 5px;
    }

    .center-text{
        margin-top: 25px;
    }

    .scroll{
        overflow-y: scroll;
        height: 100vh;
        padding: 0 10px 0 10px;
    }

</style>

<div ng-controller="peoplePageController" class="container-fluid">
    <div class="header">
        <h2>Search for users:</h2>
    </div>

    <div class="col-md-4 vertical-line">
        <form name="searchForm" id="searchForm" class="form-horizontal" ng-submit="searchUsers(searchForm)">
            <div class="form-group">
                <label for="userId" class="col-md-3 control-label">Profile ID:</label>
                <div class="col-md-9">
                    <input id="profileId" class="form-control" type="text" name="profileId" placeholder="Profile ID" ng-model="searchModel.profileId"/>
                </div>
            </div>

            <div class="form-group">
                <label for="userName" class="col-md-3 control-label">User Name:</label>
                <div class="col-md-9">
                    <input id="userName" class="form-control" type="text" name="userName" placeholder="User Name" ng-model="searchModel.userName"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-default">Search</button>
                </div>
            </div>
        </form>

        <div class="header">
            <h2>Friends: </h2>
        </div>

        <div class="scroll">
            <div ng-repeat="user in friends" class="container-fluid user-in-friends-box">
                <div class="col-md-4 image-box">
                    <a href="/profile/{{user.id}}"><img class="img-circle" src="/content/images/{{user.avatar.name}}" alt="user avatar"></a>
                </div>
                <div class="info-box col-md-5">
                    <h3 class="center-text">{{user.firstname}}&nbsp;{{user.lastname}}</h3>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-warning btn-circle btn-xl center" title="add to friends" ng-click="removeFromFriends(user)"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 scroll">
        <div ng-repeat="user in searchUserResult" class="container-fluid user-box">
            <div class="col-md-3 image-box">
                <a href="/profile/{{user.id}}"><img class="img-circle" src="/content/images/{{user.avatar.name}}" alt="user avatar"></a>
            </div>
            <div class="info-box col-md-7">
                <h3 class="center-text">{{user.firstname}}&nbsp;{{user.lastname}}</h3>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-info btn-circle btn-xl center" title="add to friends" ng-click="addToFriends(user)"><i class="glyphicon glyphicon-ok"></i></button>
            </div>
        </div>
    </div>

    <div class="col-md-2"></div>

</div>